* {
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-weight: normal;
}

.container {
  max-width: 1105px;
  margin: 0 auto;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 40px auto;
}

.nav-li {
  display: inline-block;
}

.nav-li:not(:last-of-type) {
  margin-right: 90px;
}

.nav-link {
  color: black;
  text-decoration: none;
}

.nav-link:hover {
  color: #FA4A0C;
}

.app {
  background-image: url('../img/bg-1.png');
  color: white;
  text-align: center;
  padding: 80px 0 162px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.app-pretitle {
  font-weight: bold;
  font-size: 24px;
  line-height: 36px;
}

.app-title {
  font-weight: bold;
  font-size: 58px;
  line-height: 80px;
  max-width: 650px;
  margin: 10px auto;
}

.app-text {
  font-size: 24px;
  line-height: 38px;
  margin-bottom: 54px;
}

.button {
  width: 236px;
  height: 68px;
  color: white;
  border-radius: 30px;
  font-weight: bold;
  font-size: 24px;
  line-height: 36px;
}

.button:first-of-type {
  background: #FA4A0C;
  border: 1px solid #FA4A0C;
  margin-right: 67px;
}

.button:last-of-type {
  background: none;
  border: 1px solid white;
}

.work-app {
  font-weight: bold;
  font-size: 44px;
  line-height: 36px;
  text-align: center;
  margin: 56px 0 70px;
}

.mobile {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 79px;
}

.mobile-pretitle {
  font-weight: bold;
  font-size: 24px;
  line-height: 36px;
  color: #FA4A0C;
}

.mobile-title {
  font-weight: bold;
  font-size: 40px;
  line-height: 57px;
  max-width: 560px;
}

.mobile-text {
  font-size: 24px;
  line-height: 38px;
  color: #737373;
  max-width: 400px;
}

.order {
  background-image: url('../img/bg-2.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  padding: 131px 0 130px;
  font-family: Montserrat, sans-serif;
  text-align: center;
  color: white;
}

.order-title {
  font-size: 40px;
  line-height: 57px;
  margin-bottom: 10px;
}

.order-text {
  font-size: 24px;
  line-height: 38px;
  margin-bottom: 59px;
}

.order-button {
  width: 142px;
  height: 64px;
  border-radius: 10px;
  font-weight: bold;
  line-height: 28px;
}

.order-button:first-of-type {
  background: #FA4A0C;
  color: white;
  margin-right: 16px;
  border: 1px solid #FA4A0C;
}

.order-button:last-of-type {
  background: none;
  color: white;
  border: 1px solid white;
}

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 109px 0 54px;
}

.footer-text {
  font-weight: bold;
  font-size: 12px;
  line-height: 18px;
  color: #5c5c5c;
}